.store-class-list{

}

.btn-add{

}

.list-view{

}

.list-cell{

}

.ap-content{

}

.lbl-itemText{

}

.hb-iconContainer{
    -fx-spacing: 0;
}

.iv-edit{

}

.btn-edit{
  -fx-background-color:transparent;
}

.btn-edit:hover{
   -fx-border-width:1px;
   -fx-border-color:blue;
   -fx-cursor:pointer
 }

.iv-garbage{

}

.btn-garbage{
    -fx-background-color:transparent;
}

.btn-garbage:hover{
   -fx-border-width:1px;
   -fx-border-color:blue;
   -fx-cursor:pointer
 }