.store-class-list{

}

.btn-add{

}

.list-view{

}

.list-cell{

}

.ap-content{

}

.lbl-itemText{

}

.hb-iconContainer{
    -fx-spacing: 5;
}

.iv-edit{

}

.btn-edit{
  -fx-background-color:transparent;
}

.iv-garbage{

}

.btn-garbage{
    -fx-background-color:transparent;
}